@import "../../../styles/base.scss";

.GaugeWidget {
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 999;
  bottom: 15px;
  // background-color: $very-very-transparent-white;
  right: 15px;
  border-radius: 50px;
  filter: drop-shadow(); //background-color: rgba(0, 0, 0, 0.4);
  // @include for-phone-only {
  //   width: 40px;
  //   height: 40px;
  // }
  // &::before,
  // &::after {
  //   position: absolute;
  //   width: 70px;
  //   height: 70px;
  //   border-radius: 50%;
  //   transition: all 0.25s ease-in;
  // }
  // @include for-phone-only {
  //   top: calc(5% + 320px);
  // }
  // @include for-small-phone-only {
  //   top: calc(5% + 270px);
  // }
  .widget {
    position: relative;
    opacity: 0.9;
    transform: translateX(0px);
    transition: all 0.25s ease-in;
    width: 100px;
    height: 100px;
    //animation: skew .25s infinite alternate;

    &:hover {
      cursor: pointer;
      @include ui_lightup;
      transform: scale(1.1);
    }
  }
}
