@import "../../../styles/base.scss";

.Blog {
  @include punk-bkgd2;
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-y: scroll;

  .blogHolder {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: auto;
    flex-direction: column;
    height: calc(100vh - 100px);
    margin-top: 100px;
    z-index: 100;
    border-top: 10px solid rgba(2, 2, 2, 0.1);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    @include for-phone-only {
      height: calc(100vh - 90px);
      margin-top: 90px;
    }

    // .innerContainer {
    //   position: relative;
    //   z-index: 100;
    //   display: flex;
    //   flex-direction: column;
    //   width: 100%;
    //   align-items: center;
    //   @include for-phone-only {
    //     max-width: 100%;
    //     width: 100%;
    //     padding-bottom: 100px;
    //   }
    // }
  }

  .searchForm {
    position: absolute;
    display: flex;
    top: 250px;
    left: 15px;
    z-index: 1000000000001;
    color: $offwhite;
    width: 250px !important;
    filter: drop-shadow(-10px 9px 6px rgba(0, 0, 0, 0.55));

    input {
      background-color: rgba(255, 255, 255, 0.12);
      border: 2px solid $offwhite;
      border-radius: 5px 0px 0px 5px;
      border-right: none;
      font-size: 1.3em;
      padding: 5px 5px;
      color: $offwhite;
      width: 175px !important;
      text-align: right;

      &.lit {
        border: 2px solid $hot-pink;
      }

      @media (max-width: 1250px) {
        // width: 133px;
        width: 80px !important;
      }
    }

    button {
      background-color: $darkestgray;
      border: 2px solid $offwhite;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      color: $offwhite;
      width: 75px;

      @media (max-width: 1250px) {
        // width: 133px;
        width: 52px !important;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.4);
      }

      &:active {
        color: $darkestgray;
      }

      &.lit {
        border: 2px solid $hot-pink;
        border-left: 2px $offwhite;
      }
    }

    @include for-phone-only {
      display: none;
    }
  }

  .featuredPosts {
    position: absolute;
    display: flex;
    top: 300px;
    left: 15px;
    z-index: 1000000000000;
    flex-direction: column;
    filter: drop-shadow(-10px 9px 6px rgba(0, 0, 0, 0.55));
    display: none;

    @include for-desktop-up {
      display: flex;
    }

    .postButtons {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
