@import "../../styles/base.scss";

.Fader {
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 10;
  background-color: black;
  opacity: 0.5;
  transition: opacity 0.7s ease-in-out;
  &.dark {
    opacity: 0.7;
  }
}
