@import "../../styles/base.scss";

.UserInfo {
  border: 1px solid $darkblue;
  padding: 5px 8px;
  display: inline-block;
  background-color: $offwhite;
  color: gray;

  .badgeIcon {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    .icon {
      color: $darkblue;
    }
  }
}
