@import "../../styles/base";

.FormErrors {
  .validationList {
    padding-left: 25px;

    li {
      display: block;
      margin-bottom: 3px;

      &::before {
        font-family: "Glyphicons Halflings";
        font-size: 12px;
        float: left;
        margin-top: 4px;
        margin-left: -17px;
      }

      &.error {
        color: $form-red;

        &::before {
          content: "\00D7";
        }
      }

      &.success {
        color: $form-green;
        &:before {
          content: "\2t13";
        }
      }
    }
  }
}
