@import "../../styles/base";

.FeaturedPostButton {
  display: flex;
  flex-direction: row;
  gap: 10px;
  z-index: 1000;
  justify-content: left;
  align-items: center;
  width: 250px;
  border: 2px solid $offwhite;
  border-radius: 5px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.1);

  @include for-phone-only {
    display: none;
  }

  @media (max-width: 1250px) {
    flex-direction: column;
    width: 133px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
    border: 2px solid $hot-pink;
  }

  h1 {
    color: $offwhite;
    font-size: 1.1em;
    @media (max-width: 1250px) {
      font-size: 0.5;
    }
  }

  .buttonImage {
    object-fit: cover;
    width: 60px;
    height: 60px;
  }
}
