@import "../../styles/base";

.FeaturedPostButton {
  display: flex;
  flex-direction: row;
  gap: 10px;
  z-index: 1000;
  justify-content: left;
  align-items: center;
  width: 300px;
  border: 2px solid $offwhite;
  border-radius: 5px;
  padding: 5px 5px;
  background-color: rgba(255, 255, 255, 0.2);

  @include for-phone-only {
    display: none;
  }

  &:hover {
    cursor: pointer;
    border: 2px solid $hot-pink;
  }

  h1 {
    color: $offwhite;
    font-size: 1.1em;
  }

  .buttonImage {
    object-fit: cover;
    width: 80px;
    height: 80px;
  }
}
