@import "../../styles/base";

.AdminContentList {
  border-top: 1px solid $darkblue;
  margin-top: 10px;
  li {
    margin-left: 0px;

    border-bottom: 1px solid $darkblue;
    padding: 5px 10px;

    .untitled {
      color: rgb(150, 150, 150);
      font-style: italic;
    }

    &:nth-child(odd) {
      background-color: rgb(252, 251, 235);
    }

    .editLogo {
      padding-left: 10px;
      color: $darkblue !important;
      display: flex;
      align-items: center;
      gap: 5px;
      padding-left: 20px;
      justify-content: space-between;

      .titleCell {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .pencil,
        .activeItem,
        .inactiveItem,
        .link {
          font-size: 1.4em;
          margin-bottom: 0px;
          padding-bottom: 0px;
        }
        a {
          margin-bottom: 0px;
          padding-bottom: 0px;
        }
        .link {
          margin-bottom: -5px;
          &:hover {
            color: $bright-green;
          }
          &:visited {
            color: $darkblue;
          }
        }
      }

      .thumbHolder {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(150, 150, 150);
        background-color: rgb(200, 200, 200);
        border: 1px solid rgb(150, 150, 150);
        overflow: hidden;
        line-break: anywhere;
        font-size: 0.3em;
        font-family: Arial, Helvetica, sans-serif;
        white-space: pre;
        padding: 5px;
        word-spacing: 100%;
      }

      .dateCell {
        padding-right: 40px;
      }

      .link {
        cursor: pointer;
      }

      .pencil {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
          color: greenyellow;
        }
      }

      .activeItem {
        color: $darkblue;
        opacity: 1;
      }

      .inactiveItem {
        opacity: 0.2;
        color: $darkblue;
      }
    }
  }
}
