@import "../../styles/base";

.listAdmin {
  color: black;
  text-transform: uppercase;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-content: center;

  @include for-phone-only {
    font-size: 1.1em;
    flex-direction: column;
    justify-items: center;
    gap: 5px;
    justify-content: center;
    text-align: center;
  }

  .hiddenPagination {
    opacity: 0.5;
    pointer-events: none;
  }

  .searchForm {
    display: flex;
    align-items: center;
    gap: 5px;
    input {
      font-family: Arial, Helvetica, sans-serif;
    }
    button {
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
    }
    input {
      text-align: right;
    }

    @include for-phone-only {
      justify-content: center;
    }
  }
}

.AdminContentList {
  border-top: 1px solid $darkblue;

  li {
    margin-left: 0px;
    text-decoration: none;

    border-bottom: 1px solid $darkblue;
    padding: 5px 10px;

    h3 {
      @include for-phone-only {
        font-size: 1.3em;
        max-width: 180px;
        white-space: pre-wrap;
      }
    }

    .untitled {
      color: rgb(150, 150, 150);
      font-style: italic;
    }

    &:nth-child(odd) {
      background-color: rgb(252, 251, 235);
    }

    .editLogo {
      padding-left: 10px;
      color: $darkblue !important;
      display: flex;
      align-items: center;
      gap: 5px;
      padding-left: 20px;
      justify-content: space-between;

      @include for-phone-only {
        padding-left: 0px;
        gap: 2px;
        font-size: 0.7em;
        word-break: break-all;
      }

      .titleCell {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .pencil,
        .activeItem,
        .inactiveItem,
        .link {
          font-size: 1.4em;
          margin-bottom: 0px;
          padding-bottom: 0px;
          @include for-phone-only {
            font-size: 1.8em;
          }
          h3 {
            font-size: 2em;
            color: red;
            @include for-phone-only {
              font-size: 1.2em;
            }
          }
        }
        a {
          margin-bottom: 0px;
          padding-bottom: 0px;
        }
        .link {
          margin-bottom: -5px;
          &:hover {
            color: $bright-green;
          }
          &:visited {
            color: $darkblue;
          }
        }
      }

      .thumbHolder {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(150, 150, 150);
        background-color: rgb(200, 200, 200);
        border: 1px solid rgb(150, 150, 150);
        overflow: hidden;
        line-break: anywhere;
        font-size: 0.5em;
        font-family: Arial, Helvetica, sans-serif;
        white-space: pre;
        word-spacing: 100%;
        text-transform: uppercase;
        word-break: break-all;

        @include for-phone-only {
          width: 50px;
          height: 50px;
        }
      }

      .dateCell {
        padding-right: 40px;
        @include for-phone-only {
          display: none;
        }
      }

      .link {
        cursor: pointer;
      }

      .pencil {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
          color: greenyellow;
        }
      }

      .activeItem {
        color: $darkblue;
        opacity: 1;
      }

      .inactiveItem {
        opacity: 0.2;
        color: $darkblue;
      }
    }
  }
}
