@import "../../styles/base";

.AdminContentList {
  color: pink !important;
  li {
    margin-left: 0px;

    border-bottom: 1px solid $darkblue;
    padding: 5px 10px;

    .editLogo {
      padding-left: 10px;
      color: $darkblue !important;
      display: flex;
      align-items: center;
      gap: 5px;
      padding-left: 20px;

      .pencil {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
          color: greenyellow;
        }
      }

      .activeItem {
        color: $darkblue;
        opacity: 1;
      }

      .inactiveItem {
        opacity: 0.2;
        color: $darkblue;
      }
    }
  }
}
