$white: #fff;
$black: #000;
$hot-pink: #ff1493;
$red: #f00;
$green: #0f0;
$bright-green: #7fff00;
$gray: #333;
$tapeBlue: #151944;
$darkRed: #660000;
$darkGreen: #103710;
$darkblue: #17097d;
$offwhite: #fbf5ee;
$offblack: #4b3e45;
$lightblue: #382bc4;
$lighterblue: #6245b7;
$darkpurple: #502a84;
$lightpurple: #8a43da;
$midnight: rgb(0, 3, 22);
$darkgray: #eee;
$mediumgray: #999;
$darkestgray: #777;
$lightgray: #f1f1f1;
$verylightgray: #f7f7f7;
$transparent-red: rgba(153, 26, 0, 0.75);
$transparent-black: rgba(0, 0, 0, 0.2);
$transparent-offwhite: rgba(251, 245, 238, 0.98);
$transparent-white: rgba(255, 255, 255, 1);
$transparent-blue-gray: rgba(9, 30, 66, 0.4);
$transparent-yellow: rgba(240, 240, 20, 0.9);
$very-transparent-white: rgba(255, 255, 255, 0.8);
$very-very-transparent-white: rgba(255, 255, 255, 0.5);
$transparent-green: rgba(183, 225, 23, 0.8);
$cardboard-brown: rgba(80, 42, 132, 0.99);
$hot-blue: rgba(35, 255, 253, 0.78);
$solid-hot-blue: rgba(35, 255, 253, 1);
$ghostwhite: rgba(255, 255, 255, 0.6);
$white: rgb(255, 255, 255);

// page backgrounds
$bair-gray: rgba(220, 222, 255, 1);
$bair-lightpurple: rgba(247, 238, 248, 1);
$bair-tan: rgba(247, 242, 236, 1);

// form colors
$form-red: #ff3860;
$form-green: #23d160;
$border-white: rgba(255, 255, 255, 0.25);
